.ylapalkki {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Old Standard TT', serif;
    padding: 30px;
    border-radius: 0px;
    background-image: url("../tausta.jpg");
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #157A6E;
    text-align: center;
    margin: 0px;

}

main {
    width: 70%;
}

h2 {
    font-family: 'Karla', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 2px 2px #157A6E;
    text-align: center;
}

body {
    background-color: #F7CAC9;
    font-family: 'Karla', sans-serif;
    margin: 0px 30px 0px 30px;
    border-radius: 14px;
}

img {
    border-radius: 10px;
    width: 600px;
    margin: 5px;
}

#flexbox {
    display: flex;
    flex-wrap: wrap;
}

aside {
    text-align: justify;
    background: white;
    border-color: #CCA43B;
    border-style: dashed;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 29%;
    font-family: 'Karla', sans-serif;

}

/*Menubar ikonit */
.homeIcon {
    background-image: url("../homeIcon.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.homeIcon:hover {
    background-image: url("../homeIconWhite.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.iconPhoto {
    background-image: url("../pictureIcon.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.videoIcon {
    background-image: url("../iconvideo.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.videoIcon:hover {
    background-image: url("../iconvideoWhite.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.iconPhoto {
    background-image: url("../pictureIcon.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.iconPhoto:hover {
    background-image: url("../pictureIconWhite.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.validatorIcon {
    background-image: url("../validaattori.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

.validatorIcon:hover {
    background-image: url("../validaattoriWhite12.svg");
    background-size: 30px;
    height: 30px;
    width: 30px;
    display: block;
}

/* Home-link */
#homeLink {
    text-decoration: none;
    color: white;
}

#homeLink:hover {
    color: black;
}

#homeLink:active {
    color: grey;
}

/* Photo-link */
#photosLink {
    text-decoration: none;
    color: white;
}

#photosLink:hover {
    color: black;
}

#photosLink:active {
    color: grey;
}

/* Validator-link */
#validatorLink {
    text-decoration: none;
    color: white;
}

#validatorLink:hover {
    color: black;
}

#validatorLink:active {
    color: grey;
}

/* Video-link */

#videoLink {
    text-decoration: none;
    color: white;
}

#videoLink:hover {
    color: black;
}

#videoLink:active {
    color: grey;
}

.menubar {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 62px;
    width: auto;
    background: #157A6E;
    border-radius: 0px 0px 47px 47px;
    margin-top: -1px;
    margin-bottom: 65px;
}

.nimet {
    list-style-image: url("list-type-image.png");
}

@media only screen and (max-width: 600px) {


    #container {
        flex-direction: column;
    }
    h1 {
        font-size: 30px;
    }

    /*Menubar ikonit */
    .homeIcon {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;

    }

    .homeIcon:hover {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .iconPhoto {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .videoIcon {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .videoIcon:hover {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .iconPhoto {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .iconPhoto:hover {
        background-size: 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 10px;
        display: block;
    }

    .validatorIcon {
        background-size: 10px;
        height: 10px;
        width: 10px;
        display: block;
    }

    .validatorIcon:hover {
        background-size: 10px;
        height: 10px;
        width: 10px;
        display: block;
    }

    /* Home-link */
    #homeLink {
        font-size: 5px;
    }

    /* Photo-link */
    #photosLink {
        font-size: 5px;
    }

    /* Validator-link */
    #validatorLink {
        font-size: 5px;
    }

    /* Video-link */
    #videoLink {
        font-size: 5px;
    }

    #kaupunki {
        font-family: 'Karla', sans-serif;
        border-radius: 22px;
        padding: 2px;
        background-color: white;
        margin-top: 2px;
        font-size: 10px;
    }

    #kaupunkihakunappi {
        font-family: 'Karla', sans-serif;
        border-radius: 19px;
        border-color: transparent;
        padding: 1px;
        margin: 1px 0px 0px 1px;
        background-color: #F7CAC9;
        font-size: 10px;
    }

    /* Kartta */
    #map {
        width: 300px;
        height: 300px;
        border-radius: 25px;

    }

    #flexbox {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
        text-align: center;
    }

    aside {
        text-align: justify;
        background-color: #157A6E;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        font-family: 'Karla', sans-serif;
    }


    main {
        width: 100%;
    }
}
